{% extends "events/base.html" %}
{% block content %}
<div class="card">
  <h2>Вопросы</h2>
  <form method="post">
    {% csrf_token %}
    {% for q in questions %}
      <div class="q">
        <p><b>{{ forloop.counter }}. {{ q.text }}</b></p>
        {% for opt in q.options.all|dictsort:"order" %}
          <label><input type="radio" name="q{{ q.id }}" value="{{ opt.id }}"> {{ opt.text }}</label><br>
        {% endfor %}
      </div>
      <hr>
    {% endfor %}
    <button class="btn primary" type="submit">Завершить</button>
  </form>
</div>
{% endblock %}
